.analytic-manager-excel {
    font-family: Arial, sans-serif;
    margin: 20px;
    max-height: 90vh;
    overflow-y: auto;
}

.analytic-manager-excel table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.analytic-manager-excel th,
.analytic-manager-excel td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.analytic-manager-excel th {
    background-color: #138d75;
    color: white;
}

.analytic-manager-excel .highlight {
    background-color: yellow;
}

.analytic-manager-excel .lowlight {
    background-color: #3498db;
}
 
.analytic-manager-excel .total {
    font-weight: bold;
    background-color: #f9f9f9;
}

.analytic-manager-excel .container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin: 20px;
    width: 80%;
}

.analytic-manager-excel .summary-table {
    width: 40%;
    font-weight: bold;
    margin: 0;
}

.analytic-manager-excel .summary-table th {
    background-color: #ddd;
}

.analytic-manager-excel .plan {
    color: red;
}

.analytic-manager-excel .export-container {
    display: flex;
    justify-content: flex-end;
}

.analytic-manager-excel .export-btn {
    background-color: #138d75;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
}

.analytic-manager-excel .export-btn i {
    margin-right: 5px;
}

.analytic-manager-excel .hidden {
    display: none;
}