body {
  height: 100%;
  margin: 0;
}

/* Conteneur principal */
.main-content {
  background-color: #f5f5f5;
  overflow-y: auto;
  font-family: 'Arial', sans-serif;
}

/* Titre principal */
h3 {
  color: #007bff;
  /* Bleu */
  font-weight: bold;
}

/* Cartes de statistique */
.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.card-header {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
  /* Bleu */
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.card-body {
  font-size: 20px;
  font-weight: bold;
  color: #36426f;
  /* Gardé pour le contraste */
}

/* Tableau des analyses */
.table {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table thead th {
  background-color: #34495e;
  /* Bleu */
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
}

.table tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

.table tbody tr:hover {
  background-color: #e7f1ff;
  /* Légère teinte de bleu clair */
}

.table td {
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.table-responsive-analytic {
  height: 350px;
  overflow-y: auto;
}

/* Barre de progression */
.progress-wrapper {
  text-align: center;
}

.progress {
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  background-color: #5dade2;
  /* Bleu */
  height: 100%;
}

/* Graphique */
#budgetChart {
  width: 100%;
  display: block;
}

/* Marges et espacement */
.container-fluid {
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.col-lg-8,
.col-lg-4 {
  margin-bottom: 20px;
}


.custom-select-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.select-group {
  display: flex;
  gap: 10px;
  /* Espace entre les deux sélecteurs */
  align-items: center;
  width: 100%;
}

.custom-select,
.custom-dropdown {
  flex: 1;
  /* Égalise la largeur des deux selects */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: white;
  font-size: 14px;
  cursor: pointer;
}

/* Ajoute un effet au survol */
.custom-select:hover,
.custom-dropdown:hover {
  border-color: #007bff;
}

#noDataMessage {
  display: none;
  text-align: center;
  color: black;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: normal;
}

/* Responsive : en mode mobile, les selects passent en colonne */
@media (max-width: 768px) {
  .select-group {
    flex-direction: column;
    gap: 5px;
  }
}